.max-height {
    max-height: 200px;
    overflow-y: auto;
    display: flex;
    flex-direction: column-reverse;
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.m-t-105 {
    margin-top: 200px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    max-height: 400px;
    overflow-y: auto;
}

.card p {
    font-size: 0.875rem;
    margin: 0.1rem;
    padding: 0;
    margin: 0;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(188, 186, 186);
  }

.footer p {
    text-align: left;
    color: green;
    font-weight: bold;
    margin: 0px px 5px 5px;
}